page{
    grid-template-areas: "header", "body", "footer";  
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#head {
    width:100%;
    background: #90BE6D;
    float: left;
    margin-bottom: 13px;
    height: 150px;
    grid-area: "header";
}
body{
    grid-area: "body";
    background: url(../img/background.jpg) no-repeat;
}
legend{
    margin-left: 20px;
}
.form-cadastro {
    width: 100%;
    display:flex;
    height: 900px;
    margin-top: 200px;
    margin-left:600px;
    background: #fff;
    width:400px;

}
.logo h1{
    width:100px;
    height:100px;
    background:url(../img/petshop.png) no-repeat;
    margin-top:20px;
    margin-left:40px;

}
.field1{
    border-radius: 50px;
    height:120px;
    width: 300px;
    
}
.vacinacaoetreinamento{
    margin-bottom:30px;
    margin-left: 20px;
}
.digaalgo{
    margin-bottom:30px;
    margin-left: 20px;
    display:flex;
    flex-direction: column;
}
.racadoanimal{
    margin-bottom:30px;
    margin-left: 20px;
}
.localizacao{
    margin-bottom:30px;
    margin-left: 20px;
}
.buttonarea{
    margin-bottom:30px;
    margin-left: 20px;
}
label{
    align-items: center;
}
#enviar{
    background: rgb(63, 191, 89);
    color:white;
    border:none;
    cursor:pointer;
    padding: 10px 20px;
    
}