page{
    grid-template-areas: "header", "body", "footer";  
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background: url(../img/background.jpg) no-repeat;
}
#head {
    width:100%;
    background: #90BE6D;
    float: left;
    margin-bottom: 13px;
    height: 150px;
    grid-area: "header";
}
body{
    grid-area: "body";
}
legend{
    margin-left: 20px;
}
.form-cadastro {
    width: 450px !important;
    display:flex;
    height: 400px;
    margin-top: 200px;
    margin-left:550px;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(228, 250, 168, 0.635);
    border-radius: 30px;
}
#cadastro-usuario{
    width: 450px;
    display:flex;
    height: 900px;
    
    flex-direction: column;
    justify-content: center;

}
#titulo{
     display:flex;
     flex-direction: row;
     justify-content: center;
     margin-bottom: 30px;
}
/*legend{
    text-decoration: underline;
    align-items: center;
    width:200px;
}*/
h2{
    text-decoration: underline;
    justify-content: center;
}
.nome{
    margin-bottom:30px;
    margin-top:60px;
    margin-left: 20px;
}
#masculino{
    margin-left:15px;
}
#feminino{
    margin-left:15px;
}
#naoespecificado{
    margin-left:15px;
}
#naobinario{
    margin-left:15px;
}
.usuario{
    margin-bottom:30px;
    margin-left: 20px;
}
.email{
    margin-bottom:30px;
    margin-left: 20px;
}
.senha{
    margin-bottom:30px;
    margin-left: 20px;

}
#maiuscula{
    float:right;
    position: relative;
}
#senhatxt{
    float:left;
    position:relative;
}
#minuscula{
    float:right;
    position: relative;
}
#letras{
    float:right;
    position: relative;
}
#numero{
    float:right;
    position: relative;
}
#caixamsg{
    display:none;
    color: #000;
    height:10px;
    flex-direction: row;
    justify-content: space-evenly;

}
#emailtxt{
    float:left;
    position:relative;
}
#caixamsg2{
    color: #000;
    position: relative;
    height:10px;
}
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
  }
  #boxsexo{
    display:flex;
    flex-direction: row;
    margin-top:-55px;
    margin-left:65px;
}
.sexo{
    margin-bottom:30px;
    margin-left: 20px;
}
.curso{
    margin-bottom:30px;
    margin-left: 20px;
}
.confirmacao-senha{
    margin-bottom:30px;
    margin-left: 20px;
}
.field1{
    border-radius: 50px;
}
input{
    margin-left: 10px;
}
.logo h1{
    width:100px;
    height:100px;
    background:url(../img/petshop.png) no-repeat;
    margin-top:20px;
    margin-left:40px;

}

#termosservico{
    margin-top:50px;
    
}

#button .btn btn-primary{
    margin-left:15px;
    justify-content: center;
    height:70px;
    
    
}
.buttontec{
    width:450px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:40px;
    width:100px;

}

#boxtotal{
    display:flex;
    height:900px;
    flex-direction: column;
    justify-content: center;
}

#enviarformulario{
    background: rgb(63, 191, 89);
    color:white;
    border:none;
    cursor:pointer;
    padding: 10px 10px;
    margin: 15px;
    width:100px;
    border-radius: 5px;
}
.termosservico{
    margin-left: 20px;
    justify-content: center;
}
#cadastro{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#linkcadastro{
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    color:#3480c2;
}
label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
}
legend{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
footer{
    grid-area: "footer";
}
form{
    margin-top:20px;
}
@media only screen and (max-width: 820px) {
    #button{
        margin-top:220px;
    }
    #boxsexo{
        display:flex;
        flex-direction: column;
        margin-top:-15px;
        margin-left: 5px;     
    }
    .senha{
        display:flex;
        flex-direction: column;
    }
    #numero{
        margin-left:90px;
    }
    #letras{
        margin-left:90px;
    }
}