page{
    grid-template-areas: "header", "body", "footer";  
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#head {
    width:100%;
    background: #90BE6D;
    float: left;
    margin-bottom: 13px;
    height: 150px;
    grid-area: "header";
}
.logo h1{
    width:100px;
    height:100px;
    background:url(../img/petshop.png) no-repeat;
    margin-top:20px;
    margin-left:40px;
}
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position:static;  
    width:900px;  
    height:800px;
  }
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: static;
    top: 40%;
    width: 30px;
    padding: 16px;
    margin-top: -500px;
    height:65px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
  }
  .prevnext{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1595px;
  }
  /* Position the "next button" to the right */
  .next {
    margin-right: 300px;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .textos{
    background-color: #118ab2;
  }
  .divtexto{
    justify-content: center;
    display:flex;
    width:600px;
    margin-left:500px;

  }
  
  p{
    font-size:large;

  }
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Six columns side by side */
  .column {
    float: left;
    width: 33.33%;
  }
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  .active,
  .demo:hover {
    opacity: 1;
  }
  .textos{
      margin-top: 300px;
  }
  #buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 30px;
  }
  .links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .linkssection{
    background: #90BE6D;
    text-decoration: none;
    border-radius: 5px;
    font-size: x-large;
    color: black;
    margin-top: 30px;
  }